data/
work/
.nextflow/
tutorials/
.ipynb_checkpoints/
__pycache__/

.nextflow.log.*
*.DS_Store
*.logs
*.csv
*.parquet
*.json
*.bed
*.bam
*.png
*.gwf
*.o
*.out
*.stderr 
*.stdout
*.log
*.sam
*.svg
*.pyc
*.cpython
profile_output*
